click
jsonschema
numpy
pandas
recommonmark
requests
rich
setuptools
sphinx
sphinx-click
sphinx_rtd_theme
streamlit=1.35.0
watchdog
xmltodict
python-dotenv
simplejson
streamlit-aggrid=0.3.4.post3
colorlog
